#waiting-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0px 2rem;
  gap: 1rem;
}

#waiting-container img {
  width: 10vh;
  height: auto;
  animation: loading 1s infinite;
}

@keyframes loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

#waiting-container h1 {
  text-align: center;
  font-size: clamp(2.1rem, 2vw + 1rem, 3rem);
  color: black;
  margin: 0;
}

#waiting-container p {
  font-size: clamp(1.2rem, 3vw, 2rem);
  font-weight: 500;
  color: black;
  text-align: center;
  margin: 0;
}
